/* @import "tailwindcss"; */
@theme {
  --color-primary: #2464ec;
  --color-secondary: #f0f3f8;

  --font-poppins: "Poppins", "sans-serif";
  --font-openSans: "Open Sans", "sans-serif";

  --animate-progress: progress 2s linear forwards;

  @keyframes progress {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
}
