<footer
  class="bg-primary flex justify-around font-poppins text-white py-5 h-[200px]"
>
  <div>
    <a class="text-xl font-bold inline-block pb-4 cursor-pointer"
      >BookingRooms</a
    >
    <div class="flex flex-col gap-3">
      <p>Liên hệ: Group6@gmail.com</p>
      <p>Điện thoại: 012 345 6789</p>
    </div>
  </div>
  <div>
    <p class="text-xl font-bold pb-4">Liên kết</p>
    <div class="flex flex-col gap-3">
      <p>Về chúng tôi</p>
      <p>Điều khoản dịch vụ</p>
    </div>
  </div>
  <div class="flex flex-col gap-5">
    <p class="text-xl font-bold">Theo dõi chúng tôi</p>
    <div class="flex gap-10">
      <a
        class="cursor-pointer w-[40px]"
        href="https://www.facebook.com/dt2301/"
      >
        <img src="./imgs/logoFB.png" alt="" />
      </a>
      <a class="cursor-pointer w-[40px]"
        ><img src="./imgs/logoInsta.png" alt="" />
      </a>
      <a class="cursor-pointer w-[40px]">
        <img src="./imgs/logoX.png" alt="" />
      </a>
    </div>
  </div>
</footer>
