<header class="bg-primary h-[80px] flex flex-row justify-around items-center">
  <!-- logo -->
  <div>
    <a
      href="../index.html"
      class="font-poppins font-bold text-2xl text-white cursor-pointer"
      >BookingRooms</a
    >
  </div>
  <!-- button đăng ký + đăng nhập hoặc hiện user (nếu đã đăng nhập) -->
  <div class="flex flex-row justify-center items-center gap-5">
    <a
      class="bg-white w-[120px] h-[50px] rounded-full font-openSans font-bold text-primary cursor-pointer hover:border-2 hover:border-white hover:bg-blue-500 hover:text-white duration-200 ease-out hover:scale-110 block flex justify-center items-center"
      href="../login.html"
    >
      Đăng nhập
    </a>
    <a
      class="bg-white w-[120px] h-[50px] rounded-full font-openSans font-bold text-primary cursor-pointer hover:border-2 hover:border-white hover:bg-blue-500 hover:text-white duration-200 ease-out hover:scale-110 block flex justify-center items-center"
      href="../register.html"
    >
      Đăng ký
    </a>
  </div>
</header>
